@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.cool-waves {
    margin-top: 3%;
    width: 100%;
    top: 10;
    left: 0;
}

.finder__whapper {
    margin-top: -1%;
    background-color: #32A92F;
    padding: 10px;
}

.finder__whapper h1 {
    color: #194918;
    text-align: center;
    font-size: 3.5rem;
}

.finder__options {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option__pet {
    margin: 0 60px;
    padding: 15px;
    border: solid 4px #194918;
}

.option__pet button {
    cursor: pointer;
    border-radius: 6px;
    border: transparent;
    color: #194918;
    font-weight: 700;
    font-size: 20px;
    background-color: #F0DEDE;
    height: 40px;
    width: 150px;
}

form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    height: 63px;
    width: 1300px;
    margin-bottom: 20px;
    border: transparent;
    background-color: #D9D9D9;
}

.pin-block i {
    margin: 0 6px;
}

.pin-block {
    display: flex;
    align-items: flex-start;
    align-items: flex-start;
    padding: 10px;
    width: 1302px;
    margin-top: -20px;
    margin-left: 271px;
    margin-bottom: 10px;
    background-color: #fff;
    border: #32A92F solid 1px;
    box-shadow: 1px 1px 10px rgb(138, 255, 84);
    font-family: "Comfortaa", sans-serif;
}

.search {
    cursor: pointer;
    margin-bottom: 20px;
    height: 63px;
    width: 200px;
    border: transparent;
    background-color: #194918;
}

.search i {
    color: #32a92f;
}