.card__wrapper {
    padding: 10px;
}

.card__wrapper h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    color: #194918;
}

.cards {
    margin-top: 100px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: solid 1px #32A92F;
    border-radius: 6px;
    box-shadow: 0px 4px 14px #9b9b9b;
    padding: 20px;
    height: 500px;
    width: 350px;
}

.preview img {
    height: 200px;
    width: 230px;
    object-fit: cover;
    border-radius: 6px;
}

.preview h4 {
    margin: 20px 0 10px;
    font-size: 27px;
    color: #32A92F;
    text-align: left;
    width: 100%;
}

.preview p {
    font-size: 21px;
    color: #194918;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.preview button {
    cursor: pointer;
    background-color: #F0DEDE;
    border: transparent;
    height: 55px;
    width: 230px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #194918;
}
