@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Salsa&display=swap');

.terms-and-conditions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 11%, rgba(255,255,255,1) 62%, rgba(237,255,245,1) 96%);
    width: 100%;
}

.glass {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin-top: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.terms-and-conditions .return-button:hover {
    text-decoration:underline;
}

.terms-and-conditions .sap-logo {
    font-family: "Salsa", cursive;
    font-weight: 200;
    color: #32a92f;
}

.terms-and-conditions p {
    margin-top: 40px;
    width: 100ch;
    text-align: center;
    max-width: 700px;
    box-sizing: border-box;
}

.terms-and-conditions .title-terms-and-conditions {
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.terms-and-conditions h3 {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.terms-and-conditions .rule-option {
    margin-bottom: 30px;
}

.terms-and-conditions .thanks {
    font-family: "PT Serif", serif;
}

.footer-terms-and-conditions {
    width: 100%;
    padding: 0;
}
