@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

.footer__whapper {
    margin-top: 100px;
    background-color: #32A92F;
}

.social-media-and-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.social-media-and-cards a img {
    margin: 0 25px;
    height: 50px;
    width: 45px;
}

.card-payment {
    margin-left: 150px;
}

.card-payment img {
    height: 120px;
    width: 320px;
}

.footer__info {
    padding: 80px;
    display: flex;
    justify-content: center;
    gap: 250px; 
}

.footer__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__info b {
    color: #fff;
    margin-bottom: 10px;
    font-size: 25px;
}

.footer__info ul {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.list-adress li {
    margin-top: 20px;
}

.list-adress li i {
    font-size: 40px;
    margin: 0 10px;
}

.footer__info ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.footer__info ul li a:hover {
    text-decoration:underline;
}

.footer__whapper .coolwhaves {
    width: 100%;
    margin-bottom: -1%;
} 

.footer__whapper .security-copyright-message {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: "ABeeZee", sans-serif;
}

